* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/*skeleton*/
html {
    background-color: #fa923f;
    padding: 0px;
    scroll-behavior: smooth;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

.banner {
    height: 150px;
    width: 100%;
}

.name {
    display: flex;
    font-size: 25px;
    text-decoration: none;
    justify-self: flex-start;
    align-items: center;
    color: rgb(202, 193, 193);
    font-family: fantasy;
    margin-left: 10px;

}

body {
    background-color: #225b69;
    padding: 0px;
    margin: 0px;
}

li a {
    display: flex;
    font-family: fantasy;
    color: black;
    background-color: #29465b;
    padding: 5px 20px 5px 20px;
    width: fit-content;
    text-decoration: none;
    justify-self: flex-end;
    align-self: center;
    border-radius: 10px;
    border: black solid 2px;
    border-color: black;
    margin: 10px;
}

li a:hover {
    display: flex;
    font-family: fantasy;
    color: #4c89b4;
    background-color: #0a2030;
    padding: 5px 20px 5px 20px;
    width: fit-content;
    text-decoration: none;
    justify-self: flex-end;
    align-self: center;
    border-radius: 10px;
    border: black solid 2px;
    border-color: black;
    margin: 10px;
}


nav {
    background-color: #162632;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-self: center;

}

header {
    background-color: #162632;
    width: 100%;
}

/*flexbox*/
.parent0 {
    background-color: #162632;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;

}

.parent {
    background-color: #225b69;
    padding: 30px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    color: rgb(202, 193, 193);

}

.parent2 {
    background-color: #225b69;
    margin: 10px;
    padding: 30px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    margin: none;
}

.parent3 {
    background-color: #225b69;
    margin: 10px;
    padding: 30px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    margin: none;
    font-size: 30px;

}

.overbox {
    background-color: black;
    color:#969999;
    margin: 10px;
    padding: 10px;
    position: absolute;
    left: 30%;
    top:90%;
}
.overbox1 {
    background-color: black;
    color:#969999;
    margin: 10px;
    padding: 10px;
    position: absolute;
    left: 30%;
    top:155%;
}
.overbox2 {
    background-color: black;
    color:#969999;
    margin: 10px;
    padding: 10px;
    position: absolute;
    right: 6%;
    top:155%;
}
.overbox3 {
    background-color: black;
    color:#969999;
    margin: 10px;
    padding: 10px;
    position: absolute;
    left: 30%;
    top:187%;
}
.overbox4 {
    background-color: black;
    color:#969999;
    margin: 10px;
    padding: 10px;
    position: absolute;
    right: 6%;
    top:187%;
}

.div1 {
    background-color: #162632;
    margin: 5px;
    width: 25%;
    border-right: 10px solid #969999;
    font-size: 30px;
    color: #162632;
    text-align: end;
    height: fit-content;
    padding-right: 10px;
    color: rgb(202, 193, 193);
}

.div2 {
    display: flex;
    background-color: #162632;
    margin: 5px;
    font-size: 30px;
    width: 75%;
    align-items: center;
    flex-direction: column;
    height: fit-content;

}

.div3 {
    display: flex;
    background-color: #162632;
    margin: 5px;
    font-size: 30px;
    width: 75%;
}

.divP1 {
    flex-direction: column;
    width: 90%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
 


}

.divP2 {
    nav-down: 100px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    height: auto;
    justify-content: space-between;
}

.smallpic {
    position: relative;
    border: black solid 5px;
    width: 45%;
    height: 200px;
    opacity: .5;
}
.smallpic:hover {
    opacity:1;
}
.largepic {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    position: relative;
    border: black solid 5px;
    opacity: .5;
}
.largepic:hover {
    opacity:1;
}
.aboutpic {

    height: 200px;
    width: auto;
}

li {
    width: fit-content;
    display: flex;
    text-decoration: none
}

.div3 p {
    font-size: 20px;
    font-family: fantasy;
}

.footer {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #162632;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #969999;
}

@media screen and (max-width: 720px) {
    .div3 {
        display: flex;
        background-color: grey;
        margin: 5px;
        width: 150px;
        font-size: 30px;
        width: 75%;
        align-items: center;
        flex-direction: column;

    }

    .aboutpic {
        height: 200px;
        width: auto;
    }
}